html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align: center;
}

ol,
ul {
    list-style: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.mainContainer {
    width: 100%;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    height: 50%;
    background: #e26d5a;
}

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'knewave', 'JoJosefin Slab', serif;
}

.bigHeader {
    background: url(../img/bgcAcceuil.jpeg) center;
    color: #e26d5a;
    height: 100vh;
    font-family: 'knewave';
    font-size: 3.5rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.bigHeader h1 {
    width: 100vw;
}

/* .bigHeader span{
    padding-top: 140px;
} */

.biographie {
    background-color: #e26c5a6e;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #2d3142;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.categorie {
    height: 25vh;
    font-size: 2.5rem;
    color: #2d3142;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #f2efea;
}

/* ==========================================================================
  section création graphique
   ========================================================================== */

.categorie_creation {
    background-image: url(../img/bgCrayon.jpg);
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.categorie_creation_blocImg {
    padding: 5% 0 5% 0;
}

li:nth-child(1) {
    grid-row: 2;
    grid-column: 1 /span 3;
}

li:nth-child(2) {
    grid-row: 1;
    grid-column: 5 / 8;
}

li:nth-child(3) {
    grid-row: 2;
    grid-column: 10 / 13;
}

li:nth-child(4) {
    grid-row: 8;
    grid-column: 2 / 4;
}

li:nth-child(5) {
    grid-row: 5;
    grid-column: 5 /span 5;
    z-index: 10;
}

li:nth-child(6) {
    grid-row: 6;
    grid-column: 10;
}

li:nth-child(7) {
    grid-row: 15;
    grid-column: 1/4;
}

li:nth-child(8) {
    grid-row: 16;
    grid-column: 7/11;
    z-index: 2;
}

li:nth-child(9) {
    grid-row: 8;
    grid-column: 11 / 13;
}

li img {
    width: 100%;
    height: auto;
}

li img:hover {
    animation: bump 5s ease;
}

@keyframes bump {
    10% {
        transform: scale(1.1) translateY(-5%);
    }
    50% {
        transform: scale(1.1) translateY(-5%);
    }
}

/* ==========================================================================
  section Identité visuelle
   ========================================================================== */

.categorie_visuelle {
    background-image: url(../img/bgcOeil.png);
    background-position: center center;
    padding: 5% 0;
}

.categorie_visuelle ul {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.categorie_visuelle>ul>li {
    margin: 25px;
    width: calc(33%-50px);
}

.imgX2 {
    width: 80%;
    margin: auto;
    margin: 15px 0;
    justify-content: space-evenly;
}

/* ==========================================================================
  section Création web
   ========================================================================== */

figure {
    width: 70%;
    margin: auto;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.589);
    margin: 30px auto;
    font-size: 1.2rem;
}

figure img {
    width: 80%;
}

figure figcaption {
    width: 80%;
}

/* ==========================================================================
  contact
   ========================================================================== */

.imgContact {
    width: 80%;
    height: 500;
    margin: 100px auto;
    background: url(../img/contact.jpg) center center;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    color: #ff9100;
    border-radius: 8px;
}

.imgContact p,
.imgContact h2 {
    width: 100%;
    font-size: 3rem;
}

.imgContact h2 {
    font-size: 4rem;
}

.contact {
    width: 60%;
    margin: auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.buttonContact {
    box-shadow: 3px 4px 3px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba', GradientType=0);
    background-color: #ededed;
    border-radius: 23px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #323536;
    font-size: 20px;
    padding: 6px 41px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

.butContact {
    width: 100%;
}

.buttonContact:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed', GradientType=0);
    background-color: #bab1ba;
}

.buttonContact:active {
    position: relative;
    top: 1px;
}

/* ==========================================================================
   Menu
   ========================================================================== */

.buttonMenu {
    font-size: 2rem;
    cursor: pointer;
    margin: auto;
    text-align: end;
    position: fixed;
    top: 25px;
    right: 25px;
    color: #e26d5a;
}

.overlay {
    width: 0vw;
    height: 100%;
    position: fixed;
    z-index: 65;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #ff9100;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 60px;
    width: 100%;
    height: 90%;
    text-align: right;
}

.closebtn {
    font-family: 'Open Sans'
}

/* =========================================================================
    Footer
   ========================================================================== */

footer {
    justify-content: space-around;
    align-items: center;
    background: #f2efea;
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
}

.fab,
.fas {
    font-size: 40px;
    padding: 0 10px;
    color: #ff9100;
}

/* =========================================================================
    Classe spéciales
   ========================================================================== */

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 7vw);
    grid-template-rows: repeat(12, 7vh);
}

.paralax {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* =========================================================================
    media queries
   ========================================================================== */

@media screen and (max-width: 1050px) {
    .bigHeader {
        font-size: 1.8rem;
        height: 100vh;
        justify-content: space-around;
    }
    .biographie {
        font-size: 1.2rem;
    }
    .buttonMenu {
        font-size: 1.4rem;
        ;
    }
    .overlay a {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 800px) {
    .grid {
        display: flex;
        flex-flow: row wrap;
    }
    .categorie_creation_blocImg li {
        width: 33%;
        margin: auto;
    }
    .categorie_creation_blocImg li img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .categorie_visuelle>ul>li {
        width: 50%;
        margin: 0;
    }
    .imgContact {
        width: 100%;
        height: 40vh;
        margin: 60px 0;
    }
    .imgContact p,
    .imgContact h2 {
        font-size: 2.5rem;
    }
    .contact {
        width: 100%;
    }
    footer {
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 400px) {
    .bigHeader {
        font-size: 1.2rem;
    }
    .biographie {
        width: 100%;
        font-size: 1.2rem;
    }
    .categorie {
        font-size: 1.8rem;
        height: 100px;
    }
    .categorie_creation_blocImg li {
        width: 100%;
    }
    .categorie_creation_blocImg li:nth-child(6) {
        display: none;
    }
    .categorie_visuelle>ul>li {
        width: 100%;
    }
    .imgX2 {
        width: 100%;
    }
    figure {
        width: 100%;
        flex-flow: row wrap;
    }
    figure img {
        width: 100%;
    }
    figure figcaption {
        width: 100%;
    }
    .bounceInRight img {
        order: -1;
    }
    .contact {
        flex-direction: column;
        padding: 20px auto;
    }
}